*{
    margin: 0;
    padding: 0;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.banner{
    display: flex;
    background: url("../images/banner/banner1.png");
    height: 808px;
    padding: 60px;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-heading{
    width: 525px;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 845px
}

.banner .banner-heading h1{
    text-align: right;
    color: #151414;
}

.banner-info .banner-para{
    max-width: 494px;
    height: 78px;
    margin-left: 876px;
    margin-right: 230px;
    text-align: right;
    margin-top: 24px;
    color: #444343;
}

.banner-info .banner-para .button{
    margin-top: 32px;
    padding: 21px 25px;
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}