*{
    margin: 0;
    padding: 0;
}
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.banner{
    display: flex;
    background: url("../images/banner/banner1.png");
    height: 808px;
    padding: 60px;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-heading{
    width: 525px;
    margin-top: 216px;
    margin-right: 230px;
    margin-left: 845px
}

.banner .banner-heading h1{
    text-align: right;
    color: #151414;
}

.banner-info .banner-para{
    max-width: 494px;
    height: 78px;
    margin-left: 876px;
    margin-right: 230px;
    text-align: right;
    margin-top: 24px;
    color: #444343;
}

.banner-info .banner-para .button{
    margin-top: 32px;
    padding: 21px 25px;
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.second-sec{
    margin-top: 131px;
}

.second-container{
    display: flex;
    max-width: 1072px;
    margin: 0 auto;
    justify-content: space-between;
    /* margin-left: 206px; */
    align-items: center;
    gap: 87px;
}

.second-container .second-image img{
    max-width: 569px;
    height: 723px;
}

.second-container .second-info h1{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}

.second-container .second-info p{
    font-size: 16px;
    color: #444343;
    line-height: 24px;
    margin-bottom: 16px;
}
.second-container .second-info ul{
    list-style: none;
    line-height: 26px;
    font-size: 16px;
    color: #444343;

}

.second-container .second-info ul span{
    display: inline-block;
    color: #16D887;
    transform: scaleX(-1) rotate(-45deg);
    margin-right: 10px;
}